<div class="flex flex-col flex-auto items-center justify-center min-w-0">
  <div class="w-full sm:w-auto py-6 px-10 sm:p-8 sm:rounded-2xl sm:shadow sm:bg-card">
    <div class="w-full max-w-100 sm:w-96 mx-auto sm:mx-0">
      <div class="flex -mx-8 -mt-8 rounded items-center justify-center">
        <img class="w-auto rounded-t-2xl" src="img/electoral1.png">
      </div>
      <div class="mt-4 text-2xl font-bold tracking-tight text-center leading-tight">
        Restablecer contraseña
      </div>
      <div class="flex justify-center items-center mt-1 text-md text-secondary text-center">
        <div>Debes definir una nueva contraseña para continuar</div>
      </div>

      @if (showAlert) {
      <fuse-alert class="my-2" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{ alert.message }}
      </fuse-alert>
      }

      <form class="mt-4 space-y-3" [formGroup]="form">
        <mat-form-field class="w-full">
          <input matInput [type]="showPassword ? 'text' : 'password'" [formControlName]="'newPassword'"
            placeholder="Nueva contraseña">
          <button mat-icon-button type="button" (click)="showPassword = !showPassword" matSuffix>
            @if (!showPassword) {
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'" />
            } @else {
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'" />
            }
          </button>
          @if (form.get('newPassword').hasError('required')) {
          <mat-error>La contraseña es requerida</mat-error>
          }
          @if (form.get('newPassword').hasError('minlength')) {
          <mat-error>Debe tener al menos 6 caracteres</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full">
          <input matInput [type]="showPassword ? 'text' : 'password'" [formControlName]="'confirmPassword'"
            placeholder="Confirmar contraseña">
          @if (form.get('confirmPassword').hasError('required')) {
          <mat-error>Confirma la contraseña</mat-error>
          }
          @if (form.hasError('mismatch') && !form.get('confirmPassword').hasError('required')) {
          <mat-error>Las contraseñas no coinciden</mat-error>
          }
        </mat-form-field>

        <button type="button" class="w-full" color="primary" matButton="filled" (click)="submit()" [disabled]="form.disabled">
          @if (!form.disabled) {
          <span>GUARDAR Y CONTINUAR</span>
          }
          @if (form.disabled) {
          <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
          }
        </button>

        <button type="button" class="w-full" color="accent" matButton="outlined" routerLink="/admin/auth/login">
          <span>Cancelar</span>
        </button>
      </form>
    </div>
  </div>
</div>
