<fuse-loading-bar />

<!-- Sidebar -->
<fuse-vertical-navigation class="bg-card print:hidden" [mode]="isScreenSmall ? 'over' : 'side'"
  [name]="'mainNavigation'" [navigation]="navigation()" [opened]="!isScreenSmall">

<ng-container fuseVerticalNavigationHeader>
  <div class="flex h-14 items-center justify-center px-4">
    <img
      class="max-h-full w-auto object-contain dark:hidden"
      src="img/logo.png"
      alt="Logo image"
      style="image-rendering: -webkit-optimize-contrast;"
    />
    <img
      class="hidden max-h-full w-auto object-contain dark:flex"
      src="img/logo.png"
      alt="Logo image"
      style="image-rendering: -webkit-optimize-contrast;"
    />
  </div>
</ng-container>

</fuse-vertical-navigation>

<div class="flex w-full min-w-0 flex-auto flex-col">
  <div class="sticky top-0 z-49 bg-card flex h-14 w-full flex-0 items-center px-4 shadow-sm
           dark:border-b dark:bg-transparent dark:shadow-none md:px-6 print:hidden">
    <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
      <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
    </button>
    <div class="ml-auto flex items-center gap-1 pl-2">
      <user />
    </div>
  </div>

  <div class="flex flex-auto flex-col">
    @if (true) {
    <router-outlet></router-outlet>
    }
  </div>


</div>